.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA / Android Studio ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Android ###
local.properties
captures/
.externalNativeBuild
.cxx
*.apk
*.ap_
*.aab

### Java / Kotlin ###
.kotlin
*.class
*.log
*.hprof
*.pyc

### Mac OS ###
.DS_Store

### Extras ###
*.bak